<ng-container *ngIf="isLoading || (isLoadingQuizzes$ | async) || (isLoadingResults$ | async); else content"></ng-container>

<ng-template #content>

  <header class="text-center text-bright sm:mt-25 mt-20">

    <section>
      <span class="sm:text-4xl md:text-[3rem] text-[2.125rem] font-semibold">
        Your Score<span class="text-error ml-1">:</span>
      </span>
      <div class="mt-9">
        <app-score-counter
          [counter]="score"
          [limit]="questionsLength"
        >
        </app-score-counter>
      </div>
      <p class="text-2xl mt-5 font-semibold">
        {{ durationMinutes > 0 ? durationMinutes + ' min' : durationSeconds + ' sec' }}
      </p>
      <div class="md:max-w-[26.875rem] sm:max-w-[22.875rem] max-w-[18.875rem] m-auto mt-3">
        Good try! Why not have another go? You might get a bigger score!
      </div>
    </section>
    <app-statistics
      [quizzes]="(quizzes$ | async) || []"
      [quizzesResults]="(results$ | async) || []"
    >
    </app-statistics>
    <section class="my-10">
      <a routerLink="/">
        <button class="bg-accent text-bright px-6 py-4 rounded">Back on main page</button>
      </a>
    </section>
  </header>

</ng-template>
