<div class="text-center text-bright sm:mt-60 mt-40 ">
  <span class="sm:mr-2 sm:text-7xl text-[4rem] font-semibold">Make <br class="sm:hidden"> your</span>
  <br class="sm:hidden">
  <span class="font-ibmplex font-light right-text text-[3.5rem] bg-warning text-primary relative sm:top-2 top-[1rem] p-3">choice</span>
  <span class="bg-error inline-block h-2 w-2 relative left-1 sm:top-2 top-[1rem] rounded-full"></span>
</div>

<button class="grid m-auto bg-accent text-bright cursor-pointer px-6 py-4 rounded sm:mt-[69px] mt-[54px]">
  <a [routerLink]="['/quiz']">Go to quizzes</a>
</button>