<section class="text-center md:w-[28rem] w-96">
    <h2 class="md:text-3xl text-2xl text-primary font-semibold mb-4">Leave quiz</h2>
    <main class="px-4 mb-4">
        Are you sure you want to exit and cancel the quiz? Your answers will not be saved.
    </main>
    <div>
        <button class="border-2 py-3 md:w-36 w-32 mr-2 text-accent bg-bright rounded">Back to quiz</button>
        <button class="py-[14px] md:w-36 w-32 ml-2 text-bright bg-accent rounded">Go on main page</button>
    </div>
</section>