<ng-container *ngIf="isLoadingThemes || (isLoadingQuiz$ | async); else content">
  <app-skeleton-quiz></app-skeleton-quiz>
</ng-container>

<ng-template #content>

  <header class="text-center text-bright sm:mt-25 mt-20">
    <span class="sm:text-4xl md:text-[3rem] text-[2.125rem] font-semibold">{{ currentQuiz.subtitle }}</span>
    <span class="sm:text-4xl md:text-[3.5rem] sm:text-bright text-error right-text text-[2.125rem] font-light">
      Quiz<span class="bg-error inline-block h-2 w-2 relative left-2.5 sm:top-2 top-1 rounded-full"></span>
    </span>
    <div class="max-w-[26.875rem] m-auto mt-3">
      Can you decipher these emoji clues to answer these {{ currentQuiz.group }}-related questions?
    </div>
  </header>

  <main
      class="
          sm:h-[35.5rem] sm:w-[30rem]
          md:h-[36.75rem] md:w-[39.75rem]
          lg:h-[39.75rem] lg:w-[43.125rem]
          h-[35rem] w-[20rem]
          mt-5 m-auto rounded-3xl
      "
      [ngClass]="quizTheme.backgroundClass"
  >
      <section class="md:mx-10 mx-5">
          <section class="flex justify-between items-center sm:pt-10 pt-6">
              <div>
                  <app-score-counter
                    [backgroundClass]="quizTheme.numberBackgroundClass"
                    [textClass]="quizTheme.numberTextClass"
                    [secondaryTextClass]="quizTheme.primaryTextClass"
                    [counter]="questionCounter"
                    [limit]="currentQuiz.questions.length"
                  >
                  </app-score-counter>
              </div>
              <div class="flex">
                <app-icon [iconName]="personsIcons.Mili" [styleClass]="'lg:h-24 lg:w-24 h-20 w-20 rounded-full sm:mr-3 mr-0'"></app-icon>
                <app-icon [iconName]="personsIcons.Jake" [styleClass]="'lg:h-24 lg:w-24 h-20 w-20 rounded-full mr-3 sm:block hidden'"></app-icon>
                <app-icon [iconName]="personsIcons.Steven" [styleClass]="'lg:h-24 lg:w-24 h-20 w-20 rounded-full sm:block hidden'"></app-icon>
              </div>
          </section>

          <section class="ms:h-72 h-[19rem]">
              <div
                  class="md:text-3xl lg:text-[2.125rem] text-2xl sm:mt-8 lg:mt-10 mt-7 leading-10 lg:h-20 sm:h-24 h-32"
                  [ngClass]="quizTheme.primaryTextClass"
              >
                  {{ currentQuestionName }}
              </div>
              <app-radio-group-button
                  class="grid justify-center md:mt-10 mt-9 text-base gap-y-4"
                  [selectedOption]="selectedAnswer"
                  [options]="currentQuestionAnswers"
                  [buttonStyle]="quizTheme.radioButtonColor"
                  [labelClass]="quizTheme.secondaryTextClass"
                  [activeLabelClass]="quizTheme.secondaryActiveTextClass"
                  (radioSelect)="radioSelect($event)"
              ></app-radio-group-button>
          </section>

          <section class="flex justify-between md:mt-[4rem] lg:mt-[5.5rem] mt-12">
              <button
                  class="py-[0.625rem] px-6 rounded sm:w-[9.5rem] w-24"
                  [ngClass]="[
                      isPrevQuestionAvailable ? quizTheme.btnsBackgroundClass : '',
                      quizTheme.btnsTextClass
                  ]"
                  [disabled]="!isPrevQuestionAvailable"
                  (click)="handlePrevQuestion()"
              >
                  <ng-container *ngIf="isPrevQuestionAvailable">
                      <span class="text-2xl leading-[0] relative right-2.5 top-0.5"><</span>
                      Prev <span class="sm:inline hidden">question</span>
                  </ng-container>
              </button>
              <button
                  class="py-[0.625rem] px-6 rounded sm:w-[9.5rem]"
                  [ngClass]="[quizTheme.btnsBackgroundClass, quizTheme.btnsTextClass]"
                  (click)="isLastQuestion ? finishQuiz() : handleNextQuestion()"
              >
                  <ng-container *ngIf="!isLastQuestion; else completeStep">
                      Next <span class="sm:inline hidden">question</span>
                      <span class="text-2xl leading-[0] relative left-2.5 top-0.5">></span>
                  </ng-container>
                  <ng-template #completeStep>
                      Complete
                  </ng-template>
              </button>
          </section>
      </section>
  </main>

  <a routerLink="/quizzes">
      <button class="grid m-auto bg-accent text-bright px-6 py-4 rounded sm:my-[30px] my-[54px]">
          Back to all Quizzes
      </button>
  </a>

</ng-template>
