<nav class="text-bright">
  <div class="nav-container">
    <div class="nav-container-logo">
        <img src="../assets/img/Q.png" alt="Q" class="logo-img">
        <span class="logo-text">uiz</span>

        <ul class="items">
          <li class="item"><a [routerLink]="">Item</a></li>
          <li class="item"><a [routerLink]="">Item</a></li>
          <li class="item"><a [routerLink]="">Item</a></li>
          <li class="item"><a [routerLink]="">Item</a></li>
          <li class="item"><a [routerLink]="">Item</a></li>
        </ul>
    </div>

    <div class="nav-container-btns">
        <button class="btn btn-left border-accent border-2">
            <a [routerLink]="" class="link-create">Button</a>
        </button>
        <button class="bg-accent btn btn-right border-accent border-2">
          <a [routerLink]="" class="link-create">Button</a>
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
