.nav {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 80px;
        margin-left: 32px;
        margin-right: 32px;

        &-logo {
            display: flex;
            align-items: center;
            .logo-img {
                height: 32px;
                width: 33.15px;
                margin-bottom: 10px;
            }

            .logo-text {
                font-weight: 600;
                font-size: 28.5714px;
                line-height: 40px;
            }

            .items {
                display: flex;
                font-family: 'IBM Plex Sans';
                list-style-type: none;
                margin: 0;
                padding: 0;

                .item:first-child {
                    padding-left: 84px;
                }

                .item {
                    cursor: pointer;
                    padding-left: 25px;
                }
            }
        }

        &-btns {
            .btn {
                cursor: pointer;
                padding: 6px 22px;
                font-weight: 500;
                line-height: 18px;
                border-radius: 4px;
            }

            .btn-left {
                margin-right: 36px;
                .link {
                    font-size: 14px;
                    text-decoration: none;
                }
            }

            .btn-right {
                .link-create {
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
    }
}

.title {
    margin-top: 160px;
    text-align: center;

    .dot {
        display: inline-block;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        position: relative;
        left: 4px;
        top: 7px;
    }

    .left-text {
        font-weight: 600;
        font-size: 72px;
    }

    .right-text {
        font-family: 'IBM Plex Sans';
        position: relative;
        top: 7px;
        font-style: normal;
        font-weight: 300;
        font-size: 56px;
        padding: 10px;
    }
}

.pass-btn-container {
    margin: 0 auto;
    width: 120px;

    .pass-btn {
        cursor: pointer;
        font-size: 14px;
        padding: 16px 24px;
        border-radius: 4px;
        margin-top: 69px;
    }
}
