<nav class="fixed w-full top-0 z-50 bg-primary text-bright">
  <main class="sm:flex sm:justify-start sm:items-center sm:h-20 h-0">
    <section class="bg-primary flex items-center sm:h-0 h-[3.75rem] px-8">
      <a routerLink="" class="cursor-pointer">
        <div class="flex">
          <img height="32" width="32" src="assets/img/Q.png" class="h-8 w-8" alt="Q">
          <span class="font-semibold leading-10 text-2xl select-none">uiz</span>
        </div>
      </a>
    </section>
  </main>
</nav>
