<a routerLink="/quizzes/active/{{ quiz.id }}">
    <article class="h-60 w-64 mb-9 rounded-[20px] cursor-pointer" [ngClass]="theme.backgroundClass">
        <section class="container w-52 m-auto pt-[14px]">
            <div class="flex justify-between items-end">
                <p id="quiz-card-title" class="text-base font-semibold" [ngClass]="theme.titleTextClass">{{ quiz.title }}</p>
                <app-icon [iconName]="theme.personName" [styleClass]="'h-12 w-12 rounded-full'"></app-icon>
            </div>
            <p id="quiz-card-subtitle" class="text-[28px] font-bold leading-[38px]" [ngClass]="theme.primaryTextClass">{{ quiz.subtitle }}</p>
        </section>
    </article>
</a>
