<main class="bg-bright w-[42rem] h-[27rem] m-auto mt-20 rounded-3xl">
    <h1 class="text-primary text-4xl font-bold pt-10">My statistics</h1>
    <section class="flex items-center ml-10 mt-10">
        <div class="h-60 w-60 rounded-full bg-error"></div>
        <div class="ml-12">
            <div class="flex items-center">
                <div class="h-10 w-10 bg-warning rounded-sm"></div>
                <div class="flex flex-col items-start">
                    <p class="text-primary text-base ml-2 font-medium">{{ statisticsService.amountQuizzes }}</p>
                    <p class="text-secondary text-xs ml-2 font-normal">{{ statisticsService.amountPassedQuizzes }} Quizzes were played</p>
                </div>
            </div>
            <div class="flex items-center py-6">
                <div class="h-10 w-10 bg-success rounded-sm"></div>
                <div class="flex flex-col items-start">
                    <p class="text-primary text-base ml-2 font-medium">
                        {{ statisticsService.passedQuizzesQuestionAmount }}
                        <span class="text-success ml-3">{{ statisticsService.rightAnswersAmount }} right</span>
                        <span class="text-error ml-3">{{ statisticsService.wrongAnswersAmount }} wrong</span>
                    </p>
                    <p class="text-secondary text-xs ml-2 font-normal">
                        {{ statisticsService.quizzesQuestionAmount }} Questions have been answered
                    </p>
                </div>
            </div>
            <div class="flex items-center">
                <div class="h-10 w-10 bg-accent rounded-sm"></div>
                <div class="flex flex-col items-start">
                    <p class="text-primary text-base ml-2 font-medium">
                        {{ statisticsService.generalMinutesDuration > 0 ? statisticsService.generalMinutesDuration : statisticsService.generalSecondsDuration }} 
                        {{ statisticsService.generalMinutesDuration > 0 ? 'min' : 'sec' }}
                    </p>
                    <p class="text-secondary text-xs ml-2 font-normal">
                        {{ statisticsService.averageMinutesDuration > 0 ? statisticsService.averageMinutesDuration : statisticsService.averageSecondsDuration }} 
                        {{ statisticsService.averageMinutesDuration > 0 ? 'min' : 'sec' }} 
                        Average time of answering quizzes
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
