<div class="text-center text-bright sm:mt-25 mt-20">
  <span class="sm:text-[3rem] text-[34px] font-semibold">{{ currentQuiz.subtitle }}</span>
  <br class="sm:hidden">
  <span class="sm:ml-2 right-text text-[3.5rem] text-bright font-light">Quiz</span>
  <span class="bg-error inline-block h-2 w-2 relative left-1 sm:top-2 top-[1rem] rounded-full"></span>
  <div class="mt-2 max-w-[430px] m-auto">
    Can you decipher these emoji clues to answer these {{ currentQuiz.name }}-related questions?
  </div>
</div>

<div class="h-[636px] w-[690px] mt-5 m-auto rounded-3xl bg-success">
    <div class="mx-10">
        <div class="flex justify-between items-center pt-10">
            <div>
                <span class="bg-warning text-[34px] p-[10px]">{{ questionCounter }}</span>
                <span class="text-bright text-base ml-2 relative bottom-[6px]">/10</span>
            </div>
            <div class="flex">
                <img class="rounded-full h-24 w-24 mr-3" src="assets/img/Mili.svg" alt="Mili">
                <img class="rounded-full h-24 w-24 mr-3" src="assets/img/Jake.svg" alt="Jake">
                <img class="rounded-full h-24 w-24" src="assets/img/Steven.svg" alt="Steven">
            </div>
        </div>
    
        <div class="text-bright text-[34px] mt-10 leading-[44px]">
            {{ currentQuiz.listQuestions[questionCounter - 1].name }}
        </div>

        <div class="grid justify-center mt-10 text-base gap-y-[17px]">
            <ng-container *ngFor="let answer of listAnswers">
                <div>
                    <input type="radio" class="h-[19px] w-[19px]" name="question">
                    <label class="ml-3 relative bottom-[2px]">{{ answer }}</label>
                </div>
            </ng-container>
        </div>

        <div class="flex justify-between text-bright mt-24">
            <button class="py-[10px] px-6 rounded">Prev question</button>
            <button class="bg-accent py-[10px] px-6 rounded">Next question</button>
        </div>
    </div>
</div>

<button class="grid m-auto bg-accent text-bright cursor-pointer px-6 py-4 rounded sm:my-[30px] my-[54px]">
  <a routerLink="/quizzes">Back to all Quizzes</a>
</button>
