<header class="text-center text-bright sm:mt-25 mt-20">
  <span class="sm:text-[3rem] text-[2.125rem] font-semibold">{{ currentQuiz.subtitle }}</span>
  <span class="sm:ml-2 sm:inline block right-text text-[3.5rem] text-bright font-light">
    Quiz<span class="bg-error inline-block h-2 w-2 relative left-1 sm:top-2 top-1 rounded-full"></span>
  </span>
  <div class="max-w-[26.875rem] m-auto">
    Can you decipher these emoji clues to answer these {{ currentQuiz.name }}-related questions?
  </div>
</header>

<main class="{{ quizTheme.backgroudClass }} h-[39.75rem] w-[43.125rem] mt-5 m-auto rounded-3xl">
    <section class="mx-10">
        <section class="flex justify-between items-center pt-10">
            <div>
                <span class="{{ quizTheme.numberBackgroudClass }} {{ quizTheme.numberTextClass }} text-[2.125rem] p-[0.625rem]">{{ questionCounter }}</span>
                <span class="{{ quizTheme.primaryTextClass }} text-base ml-2 relative bottom-1.5">/10</span>
            </div>
            <div class="flex">
                <img height="92" width="92" class="rounded-full mr-3" src="assets/img/Mili.svg" alt="Mili">
                <img height="92" width="92" class="rounded-full mr-3" src="assets/img/Jake.svg" alt="Jake">
                <img height="92" width="92" class="rounded-full" src="assets/img/Steven.svg" alt="Steven">
            </div>
        </section>
    
        <section class="h-72">
            <div class="{{ quizTheme.primaryTextClass }} text-[2.125rem] mt-10 leading-10">
                {{ currentQuestionName }}
            </div>
    
            <aside class="grid justify-center mt-10 text-base gap-y-4">
                <ng-container *ngFor="let answer of currentQuestionAnswers; let i = index">
                    <div 
                        class="{{ isSameAnswer(answer) ? quizTheme.secondaryActiveTextClass : quizTheme.secondaryTextClass }}" 
                        (click)="setAnswer(i)"
                    >
                        <input
                            id="{{ i }}" 
                            type="radio"
                            name="question"
                            class="checked:bg-error h-[1.25rem] w-[1.25rem] cursor-pointer"  
                            [checked]="isSameAnswer(answer)"
                        >
                        <label for="{{ i }}" class="ml-3 relative top-[1px] cursor-pointer">{{ answer }}</label>
                    </div>
                </ng-container>
            </aside>
        </section>

        <section class="flex justify-between mt-[5.5rem]">
            <button 
                class="{{ questionCounter > MIN_AMOUNT_QUESTIONS ? quizTheme.btnsBackgroudClass : '' }} {{ quizTheme.btnsTextClass }} py-[0.625rem] px-6 rounded"
                [disabled]="questionCounter <= MIN_AMOUNT_QUESTIONS"
                (click)="switchPrevQuestion()"
            >
                Prev question
            </button>
            <button 
                class="{{ questionCounter < MAX_AMOUNT_QUESTIONS ? quizTheme.btnsBackgroudClass : '' }} {{ quizTheme.btnsTextClass }} py-[0.625rem] px-6 rounded"
                [disabled]="questionCounter >= MAX_AMOUNT_QUESTIONS"
                (click)="switchNextQuestion()"
            >
                Next question
            </button>
        </section>
    </section>
</main>

<button class="grid m-auto bg-accent text-bright cursor-pointer px-6 py-4 rounded sm:my-[1.875rem] my-[3.375rem]">
  <a routerLink="/quizzes">Back to all Quizzes</a>
</button>
