<header class="text-center text-bright sm:mt-25 mt-20">
  <span class="sm:text-4xl md:text-[3rem] text-[2.125rem] font-semibold">{{ currentQuiz.subtitle }}</span>
  <span class="sm:text-4xl md:text-[3.5rem] sm:text-bright text-error right-text text-[2.125rem] font-light">
    Quiz<span class="bg-error inline-block h-2 w-2 relative left-2.5 sm:top-2 top-1 rounded-full"></span>
  </span>
  <div class="max-w-[26.875rem] m-auto mt-3">
    Can you decipher these emoji clues to answer these {{ currentQuiz.name }}-related questions?
  </div>
</header>

<main class="
    {{ quizTheme.backgroudClass }}
    sm:h-[35.5rem] sm:w-[30rem]
    md:h-[36.75rem] md:w-[39.75rem]
    lg:h-[39.75rem] lg:w-[43.125rem]
    h-[35rem] w-[20rem]
    mt-5 m-auto rounded-3xl
">
    <section class="md:mx-10 mx-5">
        <section class="flex justify-between items-center sm:pt-10 pt-6">
            <div>
                <span class="{{ quizTheme.numberBackgroudClass }} {{ quizTheme.numberTextClass }} text-[2.125rem] p-[0.625rem]">{{ questionCounter }}</span>
                <span class="{{ quizTheme.primaryTextClass }} text-base ml-2 relative bottom-1.5">/{{ currentQuiz.listQuestions.length }}</span>
            </div>
            <div class="flex">
                <img class="lg:h-24 lg:w-24 h-20 w-20 rounded-full sm:mr-3 mr-0" src="assets/img/Mili.svg" alt="Mili">
                <img class="lg:h-24 lg:w-24 h-20 w-20 rounded-full mr-3 sm:block hidden" src="assets/img/Jake.svg" alt="Jake">
                <img class="lg:h-24 lg:w-24 h-20 w-20 rounded-full sm:block hidden" src="assets/img/Steven.svg" alt="Steven">
            </div>
        </section>
    
        <section class="ms:h-72 h-[19rem]">
            <div class="{{ quizTheme.primaryTextClass }} md:text-3xl lg:text-[2.125rem] text-[1.75rem] sm:mt-8 lg:mt-10 mt-7 leading-10">
                {{ currentQuestionName }}
            </div>
    
            <aside class="grid justify-center md:mt-10 mt-9 text-base gap-y-4">
                <ng-container *ngFor="let answer of currentQuestionAnswers; let i = index">
                    <div 
                        class="{{ isSameAnswer(answer) ? quizTheme.secondaryActiveTextClass : quizTheme.secondaryTextClass }}" 
                        (click)="setAnswer(i)"
                    >
                        <input
                            id="{{ i }}" 
                            type="radio"
                            name="question"
                            class="{{ quizTheme.radioButtonText }} h-[1.25rem] w-[1.25rem] cursor-pointer"  
                            [checked]="isSameAnswer(answer)"
                        >
                        <label for="{{ i }}" class="ml-3 relative top-[1px] cursor-pointer">{{ answer }}</label>
                    </div>
                </ng-container>
            </aside>
        </section>

        <section class="flex justify-between md:mt-[4rem] lg:mt-[5.5rem] mt-12">
            <button 
                class="{{ questionCounter > MIN_AMOUNT_QUESTIONS ? quizTheme.btnsBackgroudClass : '' }} {{ quizTheme.btnsTextClass }} py-[0.625rem] px-6 rounded"
                [disabled]="questionCounter <= MIN_AMOUNT_QUESTIONS"
                (click)="switchPrevQuestion()"
            >
                Prev <span class="sm:inline hidden">question</span>
            </button>
            <button 
                class="{{ questionCounter < MAX_AMOUNT_QUESTIONS ? quizTheme.btnsBackgroudClass : '' }} {{ quizTheme.btnsTextClass }} py-[0.625rem] px-6 rounded"
                [disabled]="questionCounter >= MAX_AMOUNT_QUESTIONS"
                (click)="switchNextQuestion()"
            >
                Next <span class="sm:inline hidden">question</span>
            </button>
        </section>
    </section>
</main>

<button class="grid m-auto bg-accent text-bright cursor-pointer px-6 py-4 rounded sm:my-[1.875rem] my-[3.375rem]">
  <a routerLink="/quizzes">Back to all Quizzes</a>
</button>
