<header class="text-center text-bright sm:mt-25 mt-20">
  <span class="sm:text-4xl md:text-[3rem] text-[2.125rem] font-semibold">{{ currentQuiz.subtitle }}</span>
  <span class="sm:text-4xl md:text-[3.5rem] sm:text-bright text-error right-text text-[2.125rem] font-light">
    Quiz<span class="bg-error inline-block h-2 w-2 relative left-2.5 sm:top-2 top-1 rounded-full"></span>
  </span>
  <div class="max-w-[26.875rem] m-auto mt-3">
    Can you decipher these emoji clues to answer these {{ currentQuiz.name }}-related questions?
  </div>
</header>

<main 
    class="
        sm:h-[35.5rem] sm:w-[30rem]
        md:h-[36.75rem] md:w-[39.75rem]
        lg:h-[39.75rem] lg:w-[43.125rem]
        h-[35rem] w-[20rem]
        mt-5 m-auto rounded-3xl
    "
    [ngClass]="quizTheme.backgroudClass"
>
    <section class="md:mx-10 mx-5">
        <section class="flex justify-between items-center sm:pt-10 pt-6">
            <div>
                <span class="text-[2.125rem] p-[0.625rem]" [ngClass]="[quizTheme.numberBackgroudClass, quizTheme.numberTextClass]">{{ questionCounter }}</span>
                <span class="text-base ml-2 relative bottom-1.5" [ngClass]="quizTheme.primaryTextClass">/{{ currentQuiz.listQuestions.length }}</span>
            </div>
            <div class="flex">
                <img class="lg:h-24 lg:w-24 h-20 w-20 rounded-full sm:mr-3 mr-0" src="assets/img/Mili.svg" alt="Mili">
                <img class="lg:h-24 lg:w-24 h-20 w-20 rounded-full mr-3 sm:block hidden" src="assets/img/Jake.svg" alt="Jake">
                <img class="lg:h-24 lg:w-24 h-20 w-20 rounded-full sm:block hidden" src="assets/img/Steven.svg" alt="Steven">
            </div>
        </section>
    
        <section class="ms:h-72 h-[19rem]">
            <div 
                class="md:text-3xl lg:text-[2.125rem] text-[1.75rem] sm:mt-8 lg:mt-10 mt-7 leading-10"
                [ngClass]="quizTheme.primaryTextClass"
            >
                {{ currentQuestionName }}
            </div>
            <app-radio-group-button
                class="grid justify-center md:mt-10 mt-9 text-base gap-y-4" 
                [options]="currentQuestionAnswers"
                [buttonStyle]="quizTheme.radioButtonColor"
                [labelClass]="quizTheme.secondaryTextClass"
                [activeLabelClass]="quizTheme.secondaryActiveTextClass"
                (onSelect)="onSelect($event)"
            ></app-radio-group-button>
        </section>

        <section class="flex justify-between md:mt-[4rem] lg:mt-[5.5rem] mt-12">
            <button 
                class="py-[0.625rem] px-6 rounded sm:w-[9.5rem] w-24"
                [ngClass]="[
                    questionCounter > MIN_AMOUNT_QUESTIONS ? quizTheme.btnsBackgroudClass : '',
                    quizTheme.btnsTextClass
                ]"
                [disabled]="questionCounter <= MIN_AMOUNT_QUESTIONS"
                (click)="switchPrevQuestion()"
            >
                <ng-container *ngIf="questionCounter > MIN_AMOUNT_QUESTIONS">
                    <span class="text-2xl leading-[0] relative right-2.5 top-0.5"><</span>
                    Prev <span class="sm:inline hidden">question</span>
                </ng-container>
            </button>
            <button 
                class="py-[0.625rem] px-6 rounded sm:w-[9.5rem] cursor-pointer"
                [ngClass]="[quizTheme.btnsBackgroudClass, quizTheme.btnsTextClass]"
                [disabled]="questionCounter >= MAX_AMOUNT_QUESTIONS"
                (click)="switchNextQuestion()"
            >
                <ng-container *ngIf="!isLastQuestion(); else completeStep">
                    Next <span class="sm:inline hidden">question</span>
                    <span class="text-2xl leading-[0] relative left-2.5 top-0.5">></span>
                </ng-container>
                <ng-template #completeStep>
                    Complete
                </ng-template>
            </button>
        </section>
    </section>
</main>

<button class="grid m-auto bg-accent text-bright cursor-pointer px-6 py-4 rounded sm:my-[1.875rem] my-[3.375rem]">
  <a routerLink="/quizzes">Back to all Quizzes</a>
</button>
